# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

DATABASE_URL="mysql://root:password@localhost:3306/glitch-guardian"

FILE_UPLOAD_KEY=""
FILE_UPLOAD_URL=""
FILE_UPLOAD_HEADER=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_COOKIE="github_oauth_state"

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_REDIRECT_URI=""
DISCORD_COOKIE="discord_oauth_state"
